.ciudad {
  width: 110vh;
  height: 50vh;
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  }
.ciudad h2 {
  margin-top: 10px;
}
.container {
    padding: 2px 16px;
  }
.info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 30px;
}

.info div {
  margin-bottom: 15px;
}